#mycurrentgames {
    display: block;
    background: #cccccc;
    overflow: hidden;
    overflow-y:auto;
    padding-left : 0px;
}

#supportedgames {
    display: block;
    background: #cccccc;
    overflow: hidden;
    overflow-y:auto;
    padding-left : 0px;
}

#supportedgames li {
    display: block;
}

#supportedgames li span:first-child {
    width : 70%;
}

#supportedgames li span {
    font-size: 23px;
    display : inline-block;
    margin : 0;
}

#supportedgames li div {
    border: solid 1px;
    text-align: left;
}

header
{
    font-size: 35px;
    color: white;
    text-align: center;
}

img
{
    height : 50px;
}

.checkbox-yes
{ 
   background:url(http://icons.iconarchive.com/icons/visualpharm/must-have/128/Check-icon.png) left top; 
   height:32px;
   width : 32px;
   background-repeat: no-repeat;
   background-size : 32px 32px;
}

.checkbox-no
{ 
   background:url(http://icons.iconarchive.com/icons/ampeross/qetto-2/128/no-icon.png) left top; 
   height:32px;
   width : 32px;
   background-repeat: no-repeat;
   background-size : 32px 32px;
}